<div class="container">
  <mat-card>
    <mat-card-title>
      Welcome to Demo Connector App
    </mat-card-title>
    <mat-card-content>
      <p class="introduction">
        This app was created for developers, here you can test the Connector API services,
        create a new conversation, chat with your LiveEngage account as a consumer and more.
      </p>
      <p>You can start here using your brand Id.</p>

      <mat-card class="form-container mx-auto ">
        <form [formGroup]="loginForm" (ngSubmit)="authenticate()">
          <div class="row">
            <div class="col-sm-12">
              <mat-form-field class="brand-form" color="accent">
                <input matInput placeholder="Account number" formControlName="brand" [(ngModel)]="brandId">
              </mat-form-field>
            </div>
            <div class="col-sm-12">
              <mat-form-field class="brand-form" color="accent">
                <input matInput placeholder="Login name" formControlName="email" [(ngModel)]="userName">
              </mat-form-field>
            </div>
            <div class="col-sm-12">
              <mat-form-field class="brand-form" color="accent">
                <input matInput type="Password" placeholder="Password" formControlName="password"
                       [(ngModel)]="password">
              </mat-form-field>
            </div>
          </div>
          <button mat-raised-button
                  type="submit"
                  color="primary"
                  [disabled]="loginForm.invalid">
            Login
          </button>
        </form>
      </mat-card>

      <br>
      <br>
    </mat-card-content>
  </mat-card>

</div>



