<div class="container">

  <div *ngIf="accountConfigService.isAsyncMessagingActive; else no_enabled ">
    <p class="icon-p">
      <b>Async_Messaging:</b>
      <i class="material-icons icon-possitive">check_circle</i>
    </p>
    <p class="text-center p-4">
      Your account has Async_Messaging enabled. you can proceed with the next steps.
    </p>
  </div>

   <ng-template #no_enabled >
     <p class="icon-p">
       <b>Async_Messaging</b>:
       <i class="material-icons icon-negative" >cancel</i>
     </p>
     <p class="text-center">
       Please enable Async_Messaging property for your brand Id account before continue.
     </p>
     <!---<button (click)="enableAsyncMessaging()">Enable</button>-->
   </ng-template >

</div>

<mat-divider></mat-divider>



