:host{
  .update-btn{
    margin-bottom: 20px;
    width: 200px;
    float: right;
  }
  .error-message-box{
    display: block;
    min-height: 25px;
  }
  .steeper-buttons{
    display: block;
    height: 50px;
    padding-top: 50px;
    padding-bottom: 40px;
  }
}
