<div class="container-fluid" *ngIf="installationService.selectedApp; else no_app">
  <p>
    <b>Selected App Id:</b> {{installationService.selectedApp.client_id}}
  </p>

  <p class="alert-info">
    The Webhooks urls below, are the endpoints that Webhooks sends the events to, as is configured in your account.
    To use the Demo app, change the domain to the URL of this demo app. (i.e. <strong>https://your-domain/notifications/event</strong>.)
  </p>
  <p class="alert-warning">
    NOTE: any change made here is stored in the configuration of your account and will need to be reverted once you are done with the Demo app.
  </p>

  <p>
    The corresponding URL for the current server is: <strong>https://{{server}}/notifications/event</strong>
  </p>

  <p>
    <button type="button" mat-raised-button (click)="addCurrentURLtoEndpoints()" >Add your server URL to the endpoints</button>
    <button type="button" mat-raised-button (click)="revertEndpoints()" [disabled]="!isChanged" >Revert</button>

  </p>

  <p>Webhooks endpoints</p>

  <lp-webhooks-form [webhooks]="webhooks" (onSubmit)="updateWebhooks()"></lp-webhooks-form>

  <div class="steeper-buttons">
    <button type="button" mat-button matStepperPrevious>Back</button>
    <button type="button" mat-button matStepperNext>Next</button>
  </div>
</div>

<ng-template #no_app>
  <p>
    <b>There is not any app selected. Please select or install a new one.</b>
  </p>
</ng-template>
