<div class="container-fluid" *ngIf="installationService.selectedApp; else no_app">
  <b>{{installationService.selectedApp.client_name}}</b>
  <mat-form-field class="w-100" color="accent">
    <input matInput placeholder="App Id" disabled value="{{installationService.selectedApp.client_id}}">
  </mat-form-field>
  <mat-form-field class="w-100" color="accent">
    <input matInput placeholder="App Secret" disabled value="{{installationService.selectedApp.client_secret}}">
  </mat-form-field>

  Webhooks endpoints

  <lp-webhooks-form [webhooks]="webhooks" (onSubmit)="updateWebhooks()"></lp-webhooks-form>

  <div class="steeper-buttons">
    <button type="button" mat-button matStepperPrevious>Back</button>
    <button type="button" mat-button matStepperNext>Next</button>
  </div>
</div>

<ng-template #no_app>
  <p>
    <b>There is not any app selected. Please select or install a new one.</b>
  </p>
</ng-template>
