<div class="container-fluid" *ngIf="installationService.selectedApp; else no_app">
  <b>{{installationService.selectedApp.client_name}}</b>
  <mat-form-field class="w-100" color="accent">
    <input matInput placeholder="App id" disabled value="{{installationService.selectedApp.client_id}}">
  </mat-form-field>
  <mat-form-field class="w-100" color="accent">
    <input matInput placeholder="App Secret" disabled value="{{installationService.selectedApp.client_secret}}">
  </mat-form-field>
  Webhooks endpoints
  <form [formGroup]="webhooksForm" (ngSubmit)="updateWebhooks()">
    <div class="error-message-box">
      <mat-error *ngIf="webhooksForm.invalid">
        Webhooks endpoints should start by https://
      </mat-error>
    </div>
    <div class="row" *ngIf="webhooks">
      <div class="col-md-6">
        <mat-form-field class="w-100" color="accent">
          <input matInput placeholder="AcceptStatusEvent" formControlName="AcceptStatusEvent"
                 [(ngModel)]="webhooks['ms.MessagingEventNotification.AcceptStatusEvent'].endpoint">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100" color="accent">
          <input matInput placeholder="ChatStateEvent" formControlName="ChatStateEvent"
                 [(ngModel)]="webhooks['ms.MessagingEventNotification.ChatStateEvent'].endpoint">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100" color="accent">
          <input matInput placeholder="ContentEvent" formControlName="ContentEvent"
                 [(ngModel)]="webhooks['ms.MessagingEventNotification.ContentEvent'].endpoint">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100" color="accent">
          <input matInput placeholder="RichContentEvent" formControlName="RichContentEvent"
                 [(ngModel)]="webhooks['ms.MessagingEventNotification.RichContentEvent'].endpoint">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100" color="accent">
          <input matInput placeholder="ExConversationChangeNotification"
                 formControlName="ExConversationChangeNotification"
                 [(ngModel)]="webhooks['cqm.ExConversationChangeNotification'].endpoint">
        </mat-form-field>
      </div>
    </div>
    <button mat-raised-button
            color="primary"
            type="submit"
            [disabled]="webhooksForm.invalid"
            class="update-btn">
      Update
    </button>
  </form>
  <div class="steeper-buttons">
    <button type="button" mat-button matStepperPrevious>Back</button>
    <button type="button" mat-button matStepperNext>Next</button>
  </div>
</div>

<ng-template #no_app>
  <p>
    <b>There is not any app selected. Please select or install a new one.</b>
  </p>
</ng-template>
