
<div class="container">
  <mat-card>
    <mat-horizontal-stepper [linear]="true" #stepper="matHorizontalStepper" >
      <mat-step label="Enable async properties">
        <lp-enable-asyc></lp-enable-asyc>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step label="App instalation">
        <lp-app-key-secret></lp-app-key-secret>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
      </mat-step>
      <mat-step label="Webhooks setup">
          <lp-webhooks-config></lp-webhooks-config>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        You are now done.
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-card>
</div>
