.basic-form {
  /*min-width: 150px;
  max-width: 500px;*/
  width: 100%;
  margin: 10px;
}
.full-width {
  width: 100%;
}
.res-info{
  width: 100%;
  height: 63px;
  overflow-x: auto;
  font-size: small;
  color: mediumblue;
}
