<div class="container">
  <div class="container-fluid" *ngIf="currentAppInstallation">

    <h3>Settings properties</h3>
    <div *ngIf="accountConfigService.isAsyncMessagingActive; else no_enabled ">
      <p class="icon-p">
        <b>Async_Messaging:</b>
        <i class="material-icons icon-possitive">check_circle</i>
      </p>
    </div>

    <ng-template #no_enabled >
      <p class="icon-p">
        <b>Async_Messaging</b>:
        <i class="material-icons icon-negative" >cancel</i>
      </p>
    </ng-template >

    <b>App name:</b> <span>{{currentAppInstallation.client_name}}</span>
    <mat-form-field class="w-100">
      <input matInput placeholder="App id" disabled value="{{currentAppInstallation.client_id}}">
    </mat-form-field>
    <mat-form-field class="w-100">
      <input matInput placeholder="App Secret" disabled value="{{currentAppInstallation.client_secret}}">
    </mat-form-field>

    Webhooks endpoints
    <div class="row" *ngIf="webhooks">

      <div class="col-md-6">
        <mat-form-field class="w-100">
          <input matInput placeholder="AcceptStatusEvent" disabled value="{{webhooks['ms.MessagingEventNotification.AcceptStatusEvent'].endpoint}}">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <input matInput placeholder="ChatStateEvent" disabled value="{{webhooks['ms.MessagingEventNotification.ChatStateEvent'].endpoint}}" >
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <input matInput placeholder="ContentEvent" disabled value="{{webhooks['ms.MessagingEventNotification.ContentEvent'].endpoint}}" >
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <input matInput placeholder="RichContentEvent" disabled value="{{webhooks['ms.MessagingEventNotification.RichContentEvent'].endpoint}}">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <input matInput placeholder="ExConversationChangeNotification" disabled value="{{webhooks['cqm.ExConversationChangeNotification'].endpoint}}" >
        </mat-form-field>
      </div>
    </div>

  </div>
</div>



