i{
  font-size: 33px;
  position: absolute;
  margin-left: 8px;
  margin-top: -2px;
}
.icon-possitive{
  color: #1c7430;
}
.icon-p{
  padding-top: 40px;
  text-align: left;
}
.icon-negative{
  color: red;
}
