:host{
  .container{
    padding-bottom: 40px;
  }
  i{
    font-size: 27px;
    position: absolute;
    margin-left: 8px;
    margin-top: -2px;
  }
  .icon-possitive{
    color: #1c7430;
  }
  .icon-p{
    padding-top: 40px;
    text-align: left;
  }
  .icon-negative{
    color: red;
  }
}
