:host{
  border: 1px solid #d6d6d6;
  overflow: hidden;
  width: calc(100% - 42px);
  height: -webkit-calc(100% - 42px);
  border-radius: 3px;
  background-color: #FFFFFF;
  max-width: 500px;
  min-width: 300px;
  max-height: 500px;
}
.messages-area{
  width: 100%;
  height: -webkit-calc(100%- 55px);
  /* Firefox */
  height: -moz-calc(100% - 55px);
  /* WebKit */
  height: -webkit-calc(100% - 55px);
  /* Opera */
  height: -o-calc(100% - 55px);
  /* Standard */
  height: calc(100% - 55px);
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #b0b0b0;
}
