:host{
  border: 1px solid #d6d6d6;
  overflow: hidden;
  /*width: calc(100% - 42px);*/
  width: 70%;
  height: -webkit-calc(100% - 42px);
  border-radius: 3px;
  background-color: #FFFFFF;
  max-width: 500px;
  min-width: 300px;
  min-height: 500px;
  max-height: 520px;
  display: inline-block;
  margin-bottom: 20px;

  .messages-area{
    width: 100%;
    height: -webkit-calc(100%- 55px);
    /* Firefox */
    height: -moz-calc(100% - 55px);
    /* WebKit */
    height: -webkit-calc(100% - 55px);
    /* Opera */
    /* Standard */
    height: calc(100% - 55px);
    overflow-y: auto;
    overflow-x: hidden;
    border-bottom: 1px solid lightgray;
  }
}

