<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <div class="row">
        <div class="col-md-12">
          <div class="logo">
            <img  src="../../assets/Logo-LP.png"  alt="LivePerson" title="LivePerson">
          </div>
        </div>
        <div class="col-md-12">
          <div class="title">Demo connector app</div>
        </div>
      </div>
    </div>

    <div class="col-sm-8 text-left d-none d-md-block">
      <lp-nav></lp-nav>
    </div>

    <div class="col-sm-8 text-right d-block d-md-none">
      <lp-nav></lp-nav>
    </div>
  </div>
</div>
