:host {
  display: block;
  background-color: white;
  min-height: 55px;

  .logo {
    padding-top: 5px;
    left: 20px;
    float: left;
  }

  img {
    height:20px;
  }

  .title {
    font-style: oblique;
    font-size: 14px;
    font-weight: bold;
    padding-top: 3px;
    color: dimgray;
  }

}

