:host {
  display: block;
  background-color: white;
  min-height: 80px;
}

.logo {
  padding: 20px;
  left: 20px;
  float: left;
}

img {
  height:30px;
}

.title {
  display: block;
  padding: 8px;

  text-align: center;
  color: #162036;
}
