<div class="container-fluid">

  <div class="text-center form-container">
    <p class="text-left">
      Here you can choose an installed app <!--or create a new one -->
    </p>
    <mat-form-field class="w-100 install-select">
      <mat-select placeholder="Select an installed app"  [(value)]="selectedApp" [disabled]="isCompleted" (selectionChange)="onSelectionChange($event)" >
        <mat-option>--</mat-option>
        <mat-option *ngFor="let app of appList" [value]="app">
          {{app.client_name}}
        </mat-option>
      </mat-select>
      <mat-hint *ngIf="selectedApp">id: {{selectedApp.client_id}}</mat-hint>
    </mat-form-field>

    <!--<mat-accordion>
      <mat-expansion-panel class="text-left">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Intall a new app
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field class="w-100">
          <input matInput placeholder="App Name">
        </mat-form-field>

        <mat-form-field class="w-100">
          <input matInput placeholder="App descrpition">
        </mat-form-field>

        <button mat-raised-button
                color="primary">
          Install
        </button>
      </mat-expansion-panel>
    </mat-accordion>-->
  </div>
</div>

<div class="next-button">
  <button mat-button matStepperNext (click)="next()">Next</button>
</div>

