:host{
  height: 55px;
  .footer-container {
    width: 100%;
    height: 55px;
  }
  form {
    height: 100%;
  }
  textarea, input{
    caret-color: #ff720b;
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    width: -webkit-calc(100%- 88px);
    /* Firefox */
    width: -moz-calc(100% - 88px);
    /* WebKit */
    width: -webkit-calc(100% - 88px);
    /* Standard */
    width: calc(100% - 88px);
    float: left;
    height: 45px;
    padding: 5px;
  }
  button{
    height:100%;
    float: right;
    border-left: 1px solid  #d6d6d6;
  }
}

