<div class="container">
  <mat-card>
    <p class="introduction">
    Welcome to demo connector App. This app was created for developers, here you can test the send Api services,
    create a new conversation , chat with your live engage account as a consumer and much more..
    </p>

    <p>
    If you are new you can start here:
    </p>
    <p>
      <button mat-raised-button
              color="primary"
              routerLink="/home/start"
              class="btn-left">
        Smart starting
        <i class="material-icons">chevron_right</i>
      </button>
    </p>
    <p>
    In other case go to the Demo section.
    </p>
  </mat-card>

</div>


