:host{
  display: block;
  .container{
    margin-top: 50px;
  }

  .form-container {
    max-width: 340px;
    margin-top: 50px;
    display: block;
    .brand-form{
      width: 100%;
    }
    button{
      width: 100%;
    }
  }

  .start-config-btn{
    margin-left: 30px;
  }

}
