:host{
  display: block;
  .container{
    margin-top: 50px;
  }

  .form-container {
    max-width: 300px;
    display: block;
    .brand-form{
      width: 100%;
    }
    button{
      width: 100%;
    }
  }


}
