<div class="container">
  <mat-card *ngIf="!authenticationService.getUser()">
    <p class="introduction">
    Welcome to demo connector App. This app was created for developers, here you can test the send Api services,
    create a new conversation , chat with your live engage account as a consumer and much more..
    </p>

    <p>
      If you are new you can start here using your brand Id:&nbsp;&nbsp;&nbsp;&nbsp;


    </p>
    <div class="form-container mx-auto ">
      <div class="row">
        <div class="col-sm-12">
          <mat-form-field class="brand-form">
            <input matInput placeholder="Account number" required [(ngModel)]="brandId" [ngModelOptions]="{standalone: true}">
          </mat-form-field>
        </div>
          <div class="col-sm-12">
          <mat-form-field class="brand-form">
            <input matInput placeholder="Login name" required [(ngModel)]="userName" [ngModelOptions]="{standalone: true}">
          </mat-form-field>
        </div>
        <div class="col-sm-12">
          <mat-form-field class="brand-form">
            <input matInput type="Password" placeholder="password" required [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
          </mat-form-field>
        </div>
      </div>
      <button mat-raised-button
              color="primary"
              (click)="this.authenticate()"
              [disabled]="(!brandId || brandId.length <= 0) || (!userName || userName.length <= 0) || (!password || password.length <= 0)"
              >
        Smart config
        <i class="material-icons">settings</i>
      </button>
    </div>

    <br>
    <p>
      In other case go to the <a routerLink="/demo"> Demo </a> section.
    </p>
    <br>
  </mat-card>

  <mat-card *ngIf="authenticationService.getUser()">
    <lp-config-check></lp-config-check>
  </mat-card>

</div>


