<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="row">
        <div class="col-md-12">
          <div class="logo">
            <img src="../../../assets/Logo-LP.png" alt="LivePerson" title="LivePerson">
          </div>
        </div>
        <div class="col-md-12">
          <div class="title">Demo Connector App</div>
        </div>
      </div>
    </div>

    <div class="col-sm-8 text-right d-none d-md-block">
      <lp-nav></lp-nav>
    </div>

    <div class="menu-button text-right d-block d-md-none">
      <lp-nav-menu></lp-nav-menu>
    </div>
  </div>
</div>
