:host {
  display: block;
  background-color: #172136;
  min-height: 55px;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);

  .logo {
    padding-top: 5px;
    left: 20px;
    float: left;
  }

  img {
    height:20px;
  }

  .title {
    font-style: oblique;
    font-size: 14px;
    font-weight: bold;
    padding-top: 3px;
    color:#f8f9f8;
   // color: dimgray;
  }

  .menu-button {
      position: absolute;
      right: 0;
  }



}

