<div class="container">
  <mat-tab-group mat-stretch-tabs class="mat-elevation-z2" #tabs>
    <mat-tab label="Create">
      <mat-vertical-stepper [linear]="true" #stepperCreate>
        <mat-step [completed]="completed">
          <ng-template matStepLabel>Application Installation Details</ng-template>
          <app-lp-app-installation-general-details [createAppInstall]="false" (detailsCreated)="saveGeneralDetails($event)"></app-lp-app-installation-general-details>
        </mat-step>
        <mat-step [completed]="eventsConfig.length !== 0">
          <ng-template matStepLabel>Configure Webhooks</ng-template>
            <app-lp-webhooks-event [avaliableEventTypes]="avaliableEventTypes" (eventCreated)="addEvent($event)" [createNewEvent]="true"></app-lp-webhooks-event>
            <div>
              <button type="button" mat-button matStepperPrevious>Back</button>
              <button #firstStepNextBtn type="button" [disabled]="eventsConfig.length === 0" mat-button matStepperNext>Next</button>
              <button type="reset" mat-button>Reset</button>
            </div>
        </mat-step>
        <mat-step [stepControl]="finish">
            <ng-template matStepLabel>Finish</ng-template>
            <div class="row flex-fill">
              <button type="button" mat-button matStepperPrevious>Back</button>
              <span class="push-elements-to-the-right"></span>
              <button type="button" [disabled]="!generalDetails || eventsConfig.length === 0"
                      class="create-app-install-button" color="primary" mat-raised-button  matTooltip="Installing the application installation is enabling webhooks which means that the specified endoints are registered for receiving notifications. The endpoints should be always up and running, otherwise data loss could occur."
                      matTooltipPosition="below" (click)="openConfirmationDialog('Create')">Create new App Installation</button>
            </div>
        </mat-step>
      </mat-vertical-stepper>
    </mat-tab>
    <mat-tab label="Update">
      <mat-vertical-stepper [linear]="false" #stepperUpdate>
        <mat-step [stepControl]="thirdFormGroup">
          <ng-template matStepLabel>Select an application installation</ng-template>
            <mat-form-field>
              <mat-label>Application installations</mat-label>
              <mat-select [value]="selected" [(ngModel)]="selectedAppInstall">
                <mat-option *ngFor="let appInstall of avaliableApplicationInstallation" [value]="appInstall">
                  {{appInstall.client_name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div>
              <button mat-button matStepperNext (click)="setSelectedAppInstall()">Next</button>
            </div>
        </mat-step>
        <mat-step [stepControl]="thirdFormGroup">
          <ng-template matStepLabel>Application Installation Details</ng-template>
          <app-lp-app-installation-general-details [createAppInstall]="false" (detailsCreated)="saveGeneralDetails($event)"></app-lp-app-installation-general-details>
        </mat-step>
        <mat-step [stepControl]="fourFormGroup">
          <ng-template matStepLabel>Webhook details</ng-template>
          <app-lp-webhooks-event [avaliableEventTypes]="avaliableEventTypes" (eventCreated)="addEvent($event)" [createNewEvent]="true"></app-lp-webhooks-event>
          <div>
            <button type="button" mat-button matStepperPrevious>Back</button>
            <button #firstStepNextBtn type="button" [disabled]="eventsConfig.length === 0" mat-button matStepperNext>Next</button>
            <button type="reset" mat-button>Reset</button>
          </div>
        </mat-step>
        <mat-step [stepControl]="finish">
          <ng-template matStepLabel>Finish</ng-template>
          <div class="row flex-fill">
            <button type="button" mat-button matStepperPrevious>Back</button>
            <span class="push-elements-to-the-right"></span>
            <button type="button" [disabled]="!generalDetails || eventsConfig.length === 0"
                    class="create-app-install-button" color="primary" mat-raised-button  matTooltip="Installing the application installation is enabling webhooks which means that the specified endoints are registered for receiving notifications. The endpoints should be always up and running, otherwise data loss could occur."
                    matTooltipPosition="below" (click)="openConfirmationDialog('Update')">Update</button>
            <button type="button" [disabled]="!generalDetails || eventsConfig.length === 0"
                    class="create-app-install-button" color="accent" mat-raised-button
                    (click)="openConfirmationDialog('Disable')">Disable</button>
          </div>
        </mat-step>
      </mat-vertical-stepper>
    </mat-tab>
  </mat-tab-group>
  <div class="events-list" *ngIf="stepperCreate.selectedIndex === 1 || stepperUpdate.selectedIndex === 2">
    <app-lp-webhooks-event [avaliableEventTypes]="avaliableEventTypes"  (eventRemoved)="removeEventFromArray($event)" [createNewEvent]="false" class="events-list" *ngFor="let event of eventsConfig" [event]="event"></app-lp-webhooks-event>
  </div>
</div>
