:host {
  .message-container{
    padding: 10PX;
    text-align: left;
    width: calc(100% - 60px);
    background-color: #f0f9ff;
    margin: 5px;
    border-radius: 5px;

    .username{
      display: inline-grid;
      font-weight: bold;
      font-size: 10px ;
      width: 70%;
    }
    .message{
      text-align: left;
      width: 100%;
      word-break: break-all;
      display: inline-block;
      font-size: 10px ;
    }
    .time{
      text-align: right;
      font-size: 9px;
      line-height: 20px;
      color: #b0b0b0;
      width: 28%;
      display: inline-grid;
    }
  }

  .sent{
    color: darkslategray;
  }
  .read{
    color: gold;
  }
  .received {
    margin-left: 50px;
    background-color: #efe0ef;

  }
}

