:host {
  display: block;
  .lp-card {
    background: rgba(255, 255, 255, 0.9);;
  }
}

@media (min-width: 1400px) {
  .container-fluid {
    max-width: 1300px;
  }
}

@media (min-width: 1920px) {
  .container-fluid {
    max-width: 1500px;
  }
}

//2k
@media(min-width: 2300px) {
  .container-fluid {
    max-width: 2100px;
  }
}

@media (max-width: 800px) {
  .container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .lp-card {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
