:host{
  margin-top: 20px;
  padding-bottom: 40px;
  display: block;
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 1024px) {

  :host{
    margin-top: 5px;
  }

  .container{
    padding-right: 0 !important;
    padding-left: 0 !important;
    max-width: 1024px;
  }
}
