<div class="container-fluid" *ngIf="installationService.selectedApp; else no_app">
  <b>{{installationService.selectedApp.client_name}}</b>
  <mat-form-field class="w-100">
    <input matInput placeholder="App id" disabled value="{{installationService.selectedApp.client_id}}">
  </mat-form-field>
  <mat-form-field class="w-100">
    <input matInput placeholder="App Secret" disabled value="{{installationService.selectedApp.client_secret}}">
  </mat-form-field>

  Webhooks endpoints
  <div class="row" *ngIf="webhooks">

    <div class="col-md-6">
      <mat-form-field class="w-100">
        <input matInput placeholder="AcceptStatusEvent" [(ngModel)]="webhooks['ms.MessagingEventNotification.AcceptStatusEvent'].endpoint">
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field class="w-100">
        <input matInput placeholder="ChatStateEvent" [(ngModel)]="webhooks['ms.MessagingEventNotification.ChatStateEvent'].endpoint" >
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field class="w-100">
        <input matInput placeholder="ContentEvent" [(ngModel)]="webhooks['ms.MessagingEventNotification.ContentEvent'].endpoint" >
      </mat-form-field>
    </div>
   <div class="col-md-6">
      <mat-form-field class="w-100">
        <input matInput placeholder="RichContentEvent" [(ngModel)]="webhooks['ms.MessagingEventNotification.RichContentEvent'].endpoint">
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field class="w-100">
        <input matInput placeholder="ExConversationChangeNotification" [(ngModel)]="webhooks['cqm.ExConversationChangeNotification'].endpoint" >
      </mat-form-field>
    </div>
  </div>
  <button mat-raised-button
          (click)="updateWebhooks()"
          color="primary"
          class="btn-left">
   Update
  </button>

  <mat-divider class="lp-divider"></mat-divider>

  <div class="">
    <button mat-button matStepperPrevious>Back</button>
    <button mat-button matStepperNext>Next</button>
  </div>
</div>

<ng-template #no_app>
  <p>
    <b>There is not any app selected. Please select or install a new one.</b>
  </p>
</ng-template>
