<div class="container">
  <div class="container-fluid">
    <div *ngIf="isAsyncMessagingActive; else no_enabled ">
      <p class="icon-p">
        <b>Async_Messaging:</b>
        <i class="material-icons icon-possitive">check_circle</i>
      </p>
    </div>

    <ng-template #no_enabled>
      <p class="icon-p">
        <b>Async_Messaging</b>:
        <i class="material-icons icon-negative">cancel</i>
        <br>
        Please enable Async_Messaging property for your brand Id account before continue.
      </p>
    </ng-template>
  </div>

  <div class="container-fluid" *ngIf="currentAppInstallation; else no_app">
    <div class="subtitle">
      <b>App name:</b> <span>{{currentAppInstallation.client_name}}</span>
    </div>
    <mat-form-field class="w-100" color="accent">
      <input matInput placeholder="Installation id" disabled value="{{currentAppInstallation.client_id}}">
    </mat-form-field>
    <mat-form-field class="w-100" color="accent">
      <input matInput placeholder="Secret" disabled value="{{currentAppInstallation.client_secret}}">
    </mat-form-field>

    <lp-webhooks-info [webhooks]="webhooks"></lp-webhooks-info>

  </div>

  <ng-template #no_app>
    <div class="container-fluid">
      <p class="icon-p">
        <b>App selected</b>:
        <i class="material-icons icon-negative">cancel</i>
        <br>
        There is not any app selected. Please add or install a new app.
      </p>
    </div>
  </ng-template>
</div>



