:host {
  display: block;
  height: 100%;
}
.basic-form {
  width: 100%;
  margin: 10px;
}
.full-width {
  width: 100%;
}
.res-info{
  width: 100%;
  height: 63px;
  overflow-x: auto;
  font-size: small;
  color: mediumblue;
}
.mat-form-field {
  font-size: 12px;
}
/*.content-container button{
  float: left;
  margin-left: 10px;
}*/
.lp-card{
  padding-top: 66px;
}
.console-container{
  margin-top: 10px;
  height: 250px;
  display: block;
}
