<div class="container">
  <div class="row">
    <div class="col-lg-12">

      <mat-card>
        <div class="row">
          <div class="col-sm-6">
            <h4 color="accent">Application installations</h4>
          </div>
          <div class="col-sm-6 w-100 d-flex justify-content-end">
            <button mat-raised-button  color="primary" (click)="openAppInstallationDialog()">
              <i class="material-icons">
                add_circle_outline
              </i>
              Create App
            </button>
          </div>
        </div>
      </mat-card>

      <table mat-table [dataSource]="avaliableApplicationInstallation"  class="w-100 mat-elevation-z1">

        <ng-container matColumnDef="enabled">
          <th mat-header-cell *matHeaderCellDef> Enabled </th>
          <td mat-cell *matCellDef="let element">
            <ng-container *ngIf="element.enabled; then enabled; else disabled">
            </ng-container>
            <ng-template #enabled>
              <mat-icon style="color: #4c774c"> check </mat-icon>
            </ng-template>
            <ng-template #disabled>
              <mat-icon style="color: #ea2020">highlight_off</mat-icon>
            </ng-template>
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Application Name & id </th>
          <td mat-cell *matCellDef="let element">
            <b>{{element.client_name}}</b>
            <br>
            <span>{{element.id}}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="client_secret">
          <th mat-header-cell *matHeaderCellDef> Secret </th>
          <td mat-cell *matCellDef="let element">
            {{element.client_secret}}
          </td>
        </ng-container>


        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef> Description </th>
          <td mat-cell *matCellDef="let element">
            {{element.description}}
          </td>
        </ng-container>

        <ng-container matColumnDef="created_at">
          <th mat-header-cell *matHeaderCellDef> Created At </th>
          <td mat-cell *matCellDef="let element"> {{element.client_id_issued_at * 1000 | date}} </td>
        </ng-container>

        <ng-container matColumnDef="menu" stickyEnd>
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <mat-menu #appMenu="matMenu">
              <button *ngIf="isDemoApp(element)" (click)="openDemo(element)" mat-menu-item><mat-icon>play_arrow</mat-icon><span class="p-1" >Demo</span></button>
              <button (click)="openAppInstallationDialog(element)" mat-menu-item><mat-icon>edit</mat-icon> Edit </button>
              <button (click)="uninstallApp(element)" mat-menu-item><mat-icon >delete</mat-icon><span class="p-1"> Uninstall</span></button>
            </mat-menu>

            <button mat-icon-button [matMenuTriggerFor]="appMenu">
              <mat-icon>more_vert</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</div>
