<div class="container">
  <mat-card *ngIf="!isAuthenticated" [@fadeInAnimation]>
    <mat-card-title>
      Welcome to demo connector App
    </mat-card-title>
    <mat-card-content>
      <p class="introduction">
        This app was created for developers, here you can test the send Api services,
        create a new conversation , chat with your live engage account as a consumer and more.
      </p>
      <p>you can start here using your brand Id.</p>

      <lp-login (onLogin)="loadDomainsForBrand($event)"></lp-login>

      <br>
      <br>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="isAuthenticated">
    <mat-card-title class="m-0">
      Settings properties
    </mat-card-title>
    <mat-card-content>
      <lp-config-check></lp-config-check>
      <button mat-raised-button
              class=" start-config-btn"
              color="primary"
              (click)="goToStartConfigPage()"
      >
        Configuration
        <i class="material-icons">settings</i>
      </button>

      <button mat-raised-button
              color="primary"
              class="start-config-btn"
              (click)="openConfirmationDialog()"
      >
        Log out
        <i class="material-icons">account_circle</i>
      </button>
    </mat-card-content>
  </mat-card>

</div>

<footer class="footer text-center" *ngIf="!isAuthenticated">
  <span>&copy; 2018 LivePerson, Inc. All rights reserved.</span>
</footer>



