<ng-container [formGroup]="engagementForm" class="form-container">
  <div class="row">
    <div class="col-md-12 align-items-start hint">
      <p>This affects the Engagement design possibilities when designing a campaign for messaging.Without a clear reason
        to change
        them,
        you
        can use the default values found in the schema.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 align-items-start mt-4">
      <div class="container-fluid w-100 d-flex justify-content-start">
        <mat-checkbox
          name="demo checked"
          color="primary"
          formControlName="design_engagement"
          matTooltip="">
          Design Engagement
        </mat-checkbox>
      </div>
    </div>
    <div class="col-md-4 align-items-start mt-4">
      <div class="container-fluid w-100 d-flex justify-content-start">
        <mat-checkbox
          name="demo checked"
          color="primary"
          formControlName="design_window"
          matTooltip="">
          Design Window
        </mat-checkbox>
      </div>
    </div>
    <div class="col-md-4 align-items-start mt-4">
      <div class="container-fluid w-100 d-flex justify-content-start">
        <mat-checkbox
          name="demo checked"
          color="primary"
          formControlName="language_selection"
          matTooltip="">
          Language Selection
        </mat-checkbox>
      </div>
    </div>
  </div>
  <div class="row align-items-center mt-4">
    <div class="col">
      <mat-form-field class="w-100">
        <mat-chip-list #entryPointChipList>
          <!-- engagementForm.get('entry_point').controls -->
          <mat-chip *ngFor="let entryPoint of engagementForm.get('entry_point')['controls']; let i = index;"
                    [selectable]="selectable"
                    [removable]="removable" (removed)="removeChipElement(i, 'entry_point')">
            {{entryPoint.value}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input matInput
                 placeholder="Entry Point"
                 required
                 [matChipInputFor]="entryPointChipList"
                 (matChipInputTokenEnd)="addChipElement($event, 'entry_point')"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 [matChipInputAddOnBlur]="addOnBlur"
          >
        </mat-chip-list>
        <mat-error *ngIf="engagementForm.controls['entry_point'].hasError('required')">Please at least one element is
          required
        </mat-error>
        <mat-error *ngIf="engagementForm.controls['entry_point'].hasError('max10')">Only max 10 elements are allowed
        </mat-error>
        <mat-error *ngIf="engagementForm.controls['entry_point'].hasError('unique')">Repeated elements are not allowed
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row align-items-center mt-1">
    <div class="col">
      <mat-form-field class="w-100">
        <mat-chip-list #visitorBehaviorChipList>
          <mat-chip *ngFor="let element of engagementForm.get('visitor_behavior')['controls']; let i = index;"
                    [selectable]="selectable"
                    [removable]="removable" (removed)="removeChipElement(i, 'visitor_behavior')">
            {{element.value}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input matInput
                 placeholder="Visitor Behaviour"
                 required
                 [matChipInputFor]="visitorBehaviorChipList"
                 (matChipInputTokenEnd)="addChipElement($event, 'visitor_behavior')"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 [matChipInputAddOnBlur]="addOnBlur"
          >
        </mat-chip-list>
        <mat-error *ngIf="engagementForm.controls['visitor_behavior'].hasError('max10')">Only max 10 elements are
          allowed
        </mat-error>
        <mat-error *ngIf="engagementForm.controls['visitor_behavior'].hasError('unique')">Repeated elements are not
          allowed
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row align-items-center mt-1">
    <div class="col">
      <mat-form-field class="w-100">
        <mat-chip-list #targetAudienceChipList>
          <mat-chip *ngFor="let element of engagementForm.get('target_audience')['controls']; let i = index;"
                    [selectable]="selectable"
                    [removable]="removable" (removed)="removeChipElement(i, 'target_audience')">
            {{element.value}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input matInput
                 placeholder="Target Audience"
                 required
                 [matChipInputFor]="targetAudienceChipList"
                 (matChipInputTokenEnd)="addChipElement($event, 'target_audience')"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 [matChipInputAddOnBlur]="addOnBlur"
          >
        </mat-chip-list>
        <mat-error *ngIf="engagementForm.controls['target_audience'].hasError('max20')">Only max 20 elements are allowed
        </mat-error>
        <mat-error *ngIf="engagementForm.controls['target_audience'].hasError('unique')">Repeated elements are not
          allowed
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row align-items-center mt-1">
    <div class="col">
      <mat-form-field class="w-100">
        <mat-chip-list #goalsChipList>
          <mat-chip *ngFor="let element of engagementForm.get('goal')['controls']; let i = index;"
                    [selectable]="selectable"
                    [removable]="removable" (removed)="removeChipElement(i, 'goal')">
            {{element.value}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input matInput
                 placeholder="Goals"
                 required
                 [matChipInputFor]="goalsChipList"
                 (matChipInputTokenEnd)="addChipElement($event, 'goal')"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 [matChipInputAddOnBlur]="addOnBlur"
          >
        </mat-chip-list>
        <mat-error *ngIf="engagementForm.controls['goal'].hasError('max10')">Only max 10 elements are allowed
        </mat-error>
        <mat-error *ngIf="engagementForm.controls['goal'].hasError('unique')">Repeated elements are not
          allowed
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row align-items-center mt-1">
    <div class="col">
      <mat-form-field class="w-100">
        <mat-chip-list #consumerIdentityChipList>
          <mat-chip *ngFor="let element of engagementForm.get('consumer_identity')['controls']; let i = index;"
                    [selectable]="selectable"
                    [removable]="removable" (removed)="removeChipElement(i, 'consumer_identity')">
            {{element.value}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input matInput
                 placeholder="Consumer Identity"
                 required
                 [matChipInputFor]="consumerIdentityChipList"
                 (matChipInputTokenEnd)="addChipElement($event, 'consumer_identity')"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 [matChipInputAddOnBlur]="addOnBlur"
          >
        </mat-chip-list>
        <mat-error *ngIf="engagementForm.controls['consumer_identity'].hasError('required')">
          Please at least one element is required
        </mat-error>
        <mat-error *ngIf="engagementForm.controls['consumer_identity'].hasError('max5')">
          Only max 5 elements are allowed
        </mat-error>
        <mat-error *ngIf="engagementForm.controls['consumer_identity'].hasError('unique')">
          Repeated elements are not allowed
        </mat-error>
      </mat-form-field>
    </div>
  </div>
</ng-container>
