<ng-container [formGroup]="engagementForm" class="form-container">
  <div class="row">
    <div class="col-md-12 align-items-start hint">
      <p>Engagement design possibilities when designing a campaign for messaging.Without a clear reason to change them,
        you
        can use the default values found in the schema.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 align-items-start mt-4">
      <div class="container-fluid w-100 d-flex justify-content-start">
        <mat-checkbox
          name="demo checked"
          color="primary"
          formControlName="designEngagement"
          matTooltip="">
          Desing Engagement
        </mat-checkbox>
      </div>
    </div>
    <div class="col-md-4 align-items-start mt-4">
      <div class="container-fluid w-100 d-flex justify-content-start">
        <mat-checkbox
          name="demo checked"
          color="primary"
          formControlName="designWindow"
          matTooltip="">
          Design Window
        </mat-checkbox>
      </div>
    </div>
    <div class="col-md-4 align-items-start mt-4">
      <div class="container-fluid w-100 d-flex justify-content-start">
        <mat-checkbox
          name="demo checked"
          color="primary"
          formControlName="languageSelection"
          matTooltip="">
          Language Selection
        </mat-checkbox>
      </div>
    </div>
  </div>
  <div class="row align-items-center mt-4">
    <div class="col">
      <mat-form-field class="w-100">
        <mat-chip-list #entryPointChipList>
          <mat-chip *ngFor="let entryPoint of engagementForm.get('entryPoints').controls; let i = index;"
                    [selectable]="selectable"
                    [removable]="removable" (removed)="removeChipElement(i, 'entryPoints')">
            {{entryPoint.value}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input matInput
                 placeholder="New entry Point."
                 required
                 [matChipInputFor]="entryPointChipList"
                 (matChipInputTokenEnd)="addChipElement($event, 'entryPoints')"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 [matChipInputAddOnBlur]="addOnBlur"
          >
        </mat-chip-list>
        <mat-error *ngIf="engagementForm.controls['entryPoints'].hasError('required')">Please alt least one element is
          required
        </mat-error>
        <mat-error *ngIf="engagementForm.controls['entryPoints'].hasError('max10')">Only max 10 elements are allowed
        </mat-error>
        <mat-error *ngIf="engagementForm.controls['entryPoints'].hasError('unique')">Repeated elements are not allowed
        </mat-error>
      </mat-form-field>

    </div>
  </div>

</ng-container>
