<div class="container-fluid">
  <div class="text-center form-container">
    <p class="text-left">
      Here you can choose an installed app <!--or create a new one -->
    </p>
    <mat-form-field class="w-100 install-select" color="accent" *ngIf="appList.length; else no_installation">
      <mat-select placeholder="Select an installed app" [(value)]="selectedApp" [disabled]="isCompleted"
                  (selectionChange)="onSelectionChange($event)">
        <mat-option>--</mat-option>
        <mat-option *ngFor="let app of appList" [value]="app">
          {{app.client_name}}
        </mat-option>
      </mat-select>
      <mat-hint *ngIf="selectedApp">id: {{selectedApp.client_id}}</mat-hint>
    </mat-form-field>

    <ng-template #no_installation>
      <i class="material-icons">warning</i>
      <p class="text-center">
        Currently there is not any app installed for the current account, please install a new app before continuing;
      </p>
      <button mat-raised-button (click)="redirectToHome()" class="home-button">Home</button>
    </ng-template>
  </div>
</div>

<div class="next-button">
  <button type="button" mat-button matStepperPrevious>Back</button>
  <button type="button" mat-button matStepperNext>Next</button>
</div>

