:host {
  display: block;
  height: 100%;
  padding-bottom: 20px;
  font-size: 12px;
  .basic-form {
    width: 100%;
    margin: 10px;
  }
  .full-width {
    width: 100%;
  }
  .res-info{
    width: 100%;
    height: 63px;
    overflow-x: auto;
    /*font-size: small;*/
    color: mediumblue;
  }
  .mat-form-field {
    /*font-size: 12px;*/
  }
  .lp-card{
    padding-top: 66px;
  }

  .console-container{
    margin-top: 5px;
    margin-bottom: 5px;
    //padding-left: 0;
    height: 360px;
    display: block;
  }

  @media (min-width: 1200px) {
    .console-container{
      height: 360px;
    }
  }

  .close-conv-btn {
    width: 100%;
    margin-bottom: 5px;
    max-width: 500px;
  }

  .state-info {
    display: block;
    font-size: 20px;
    margin: 20px;
    margin-left: 0;
    text-align: left;
  }
  .conv-closed-info{
    font-size: 14px;
  }
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}
