@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://www.google.com/design/spec/style/color.html
$lp-dark-indigo: (
  50: #E3E4E7,
  100: #B9BCC3,
  200: #8B909B,
  300: #5D6472,
  400: #3A4254,
  500: #172136,
  600: #141D30,
  700: #111829,
  800: #0D1422,
  900: #070B16,
  A100: #587DFF,
  A200: #2555FF,
  A400: #0035F1,
  A700: #0030D7,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$lp-orange: (
   50: #ffeee2,
   100: #ffd4b6,
   200: #ffb886,
   300: #ff9c55,
   400: #ff8630,
   500: #ff710c,
   600: #ff690a,
   700: #ff5e08,
   800: #ff5406,
   900: #ff4203,
   A100: #ffffff,
   A200: #fff5f2,
   A400: #ffccbf,
   A700: #ffb7a6,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$lp-app-primary: mat-palette($lp-orange);
$lp-app-accent:  mat-palette($lp-dark-indigo); //500
// The warn palette is optional (defaults to red).
$lp-app-warn:  mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$lp-app-theme: mat-light-theme($lp-app-primary, $lp-app-accent, $lp-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($lp-app-theme);
