
<div class="container">
  <mat-card>
    <mat-horizontal-stepper [linear]="true" #stepper="matHorizontalStepper" >
      <mat-step [completed]="stepsCompleted[0]" label="Enable async properties">
        <lp-enable-asyc (completed)="onCompleted($event, 0)"> </lp-enable-asyc>
      </mat-step>
      <mat-step label="App instalation"  [completed]="stepsCompleted[1]">
        <lp-app-key-secret (completed)="onCompleted($event, 1)" ></lp-app-key-secret>
      </mat-step>
      <mat-step label="Webhooks setup" [completed]="stepsCompleted[2]">
        <lp-webhooks-config (completed)="onCompleted($event, 2)"></lp-webhooks-config>
      </mat-step>
      <mat-step [completed]="stepsCompleted[3]" label="Done">
        <lp-config-check (completed)="onCompleted($event, 3)"></lp-config-check>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-card>
</div>
