:host{
  .form-container{
    padding-top: 40px;
  }
  .install-select{
    padding-bottom: 40px;
  }
  .next-button{
    margin-top: 40px;
  }
  i{
    font-size: 70px;
    color: #ffc107;
  }
  .home-button{
    display: block;
    margin: 0 auto;
    max-width: 120px;
  }
}
