/* You can add global styles to this file, and also import other style files */
@import "./assets/lp-mat-theme.scss";
@import '~bootstrap/dist/css/bootstrap.css';
@import '~@angular/material/theming';

body {
  background-color: rgb(242, 242, 242) !important;
  font-family: "MyriadPro","Open Sans","myriad-pro-1","myriad-pro-2",sans-serif;
  margin: 0;

}

button {
  outline: none !important;
}

button:focus {
  outline: none !important;
}

a:hover{
  text-decoration: none !important;
}
.mat-simple-snackbar-action{
  color: #f37f8a;
}

.file-drop-custom {
  z-index: 50;
  position: absolute;
  width: 500px;
  height: calc(100% - 55px);
  height: -webkit-calc(100% - 104px);
  background-color: #00ffff36;

}
