/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  background-color: rgb(242, 242, 242) !important;
  font-family: "Open Sans","myriad-pro-1","myriad-pro-2",sans-serif;
  margin: 0;

}
/**TODO: Change primary color propertly**/
.mat-fab.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary{
  background-color: #ff720b;

}
.mat-input-element {
  caret-color: #ff720b;
}
