/* You can add global styles to this file, and also import other style files */
//@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./assets/lp-mat-theme.scss";
body {
  background-color: rgb(242, 242, 242) !important;
  font-family: "Open Sans","myriad-pro-1","myriad-pro-2",sans-serif;
  margin: 0;

}

button {
  outline: none !important;
}

button:focus {
  outline: none !important;
}

a:hover{
  text-decoration: none !important;
}
